<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style.css" />
    <link rel="stylesheet" href="../styles/personalShops.css" />
    <title>UrbanPulse</title>
  </head>
  <body>
    <main>
      <header>
        <nav>
          <div class="first_section">
            <div class="items item1"></div>
            <div class="items item2"></div>
            <div class="items item3"></div>
          </div>
          <div class="second_section">
            <div class="second_items second_items1"></div>
            <div class="second_items second_items2"></div>
          </div>
        </nav>
      </header>
      <div class="container_personal">
        <section>
          <div class="block_flex">
            <div class="left_block">
              <div class="left_block_categories">
                <div class="left_block_item">
                  <a href="http://127.0.0.1:5500/index.html">Все магазины</a>
                </div>
                <div class="left_block_item"></div>
                <div class="left_block_item"></div>
                <div class="left_block_item"></div>
                <div class="left_block_item"></div>
                <div class="left_block_item"></div>
                <div class="left_block_item"></div>
                <div class="left_block_item"></div>
                <div class="left_block_item"></div>
                <div class="left_block_item"></div>
                <div class="left_block_item"></div>
              </div>
            </div>
            <div class="right_block">
              <div class="goods">
                <div class="goods_item"></div>
                <div class="goods_item"></div>
                <div class="goods_item"></div>
                <div class="goods_item"></div>
                <div class="goods_item"></div>
                <div class="goods_item"></div>
                <div class="goods_item"></div>
                <div class="goods_item"></div>
                <div class="goods_item"></div>
                <div class="goods_item"></div>
                <div class="goods_item"></div>
                <div class="goods_item"></div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
  </body>
  <script src="../app.js"></script>
</html>
